
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">value</th>
      <th scope="col">Quantity</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% cart.items.each do |id, quantity|%>
      <% product = Product.find(id) %>
      <tr>
        <td><%= product.description %></td>
        <td><%= product.unit_price * quantity %></td>
        <td><%= quantity %></td>
        <td> <%= link_to  "delete", order_item_path(product.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>